# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

orbs:
  # Declare a dependency on the welcome-orb
  welcome: circleci/welcome-orb@0.4.1

# Orchestrate or schedule a set of jobs
jobs:

  create_infrastructure:
    docker:
      - image: amazon/aws-cli
    steps: 
      - checkout
      - run: 
          name: Deploy stack on aws cloudformation
          command: |
            aws cloudformation create-stack \
            --stack-name infra \
            --template-body file://infrastructure.yml \
            --parameters file://infrastructure-parameters.json \
            --capabilities "CAPABILITY_IAM" "CAPABILITY_NAMED_IAM" \
            --region=us-east-1
      - run:
          name: Get public IP of Ubuntu machin in aws
          command: |
            aws ec2 describe-instances \
            --query 'Reservations[*].Instances[*].PublicIpAddress' \
            --output text >> inventory
      - run:
          name: Print IP
          command: |
            cat inventory
          
  configure_infrastructure:
    docker:
      - image: python:3.11-rc-alpine
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints: ["0e:4a:b0:29:59:ff:23:40:93:e8:14:7d:83:ff:4d:19"]
      - run:
          name: Install dependencies
          command: |
            apk add --update ansible 
      - run:
          name: Configure server
          command: |
            ansible-playbook -i inventory main-remote.yml

workflows:
  welcome:
    jobs:
      - configure_infrastructure
