version: 2.1

orbs:

jobs:
  create_infrastructure:
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout # check out the code in the project directory
      - run: 
        name: Create Cloudformation Stack
        command: | 
          aws cloudformation deploy \ 
          --template-file template.yml \ 
          --stack-name myStack-${CIRCLE_WORKFLOW_ID:0:5} \ 
          --region us-east-1

workflows:
  myWorkflow:
    jobs:
      - create_infrastructure